<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <h1>Error</h1>
      <h2></h2>
    </header>

    <main><p id="errorMessage" class="text-center">
      Error!  
      </p>
    </main>
    
    
  </body>
   <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script src="/error.js"></script>
    <script src="/user_controller.js"></script>
</html> 