<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <h1>Error</h1>
      <h2></h2>
    </header>

    <main><p class="text-center">
     You can't vote more than once.  
      </p>
    </main>
    
    
  </body>
</html> 