

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <container>
    <header>
      <nav class="navbar navbar-expand-lg">
      <a id="logoff" class="hidden nav-link" href="/logoff">Log Off</a><a id="login" class="nav-link" href="/login">Log In</a><a class="nav-link" href="/create">Create a Poll</a><a class="nav-link" href="/profile">Profile</a>
      </nav>
      <h1>
        FCC Voting App
       
      </h1>
      <p id="greeting" class="hidden">      
      </p>
      
    </header>

    <main>
      <p class="bold" id="directions">Click a Poll Name to view</p>
      
      <div class="row">        
      
      <section class="polls col">
        <container id="pollspot">
        </container>
      </section>
      <section class="col"><canvas id="myChart" class="hidden"></canvas></section>
        
     </div>
    </main>

    <footer>
      Free code camp  Voting App Challenge  
    </footer>

   <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script src="/display.js"></script>
    <script src="/user_controller.js"></script>
    
    
   
    </container>
  </body>
</html>
