

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  
  </head>
  <body>
    <header>
      <a id="logoff" class="hidden" href="/logoff">Log Off</a><a id="login" href="/login">Log In</a>|<a href="/create">Create a Poll</a>|<a href="/profile">Profile</a>
      
      <h1>
        FCC Voting App
       
      </h1>
      <p id="greeting" class="hidden">      
      </p>
      
    </header>

    <main>
      <p class="bold" id="directions">Click a Poll Name to view</p>
      <p class="right"><canvas id="myChart" class="hidden"></canvas></p>
      
      <section class="polls">
        <container id="pollspot">
        </container>
      </section>
    </main>

    <footer>
      Free code camp  Voting App Challenge  
    </footer>

   <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script src="/display.js"></script>
    <script src="/user_controller.js"></script>
    
    
   
    
  </body>
</html>
