
* {
  box-sizing: border-box;
}



body {
  /*font-family: helvetica, arial, sans-serif;
  margin: 25px;*/
}

a {
  color: white;  
  padding: .2em 2em 0em 2em;
}

a:hover {
  color: #f2e87b;
}

header {
  background-color: #714965; 
  background: linear-gradient(to bottom right, #714965, #FFFFFF);
  color: white;
  padding: .5em 1em;
}
/*
header a {
  color: white;
  padding: .2em 2em 0em 2em;
}

header a:hover {
  color: #f2e87b;
}
*/
header p {
  color: white; 
  padding: 0em 2em;
}

h1 {  
  font-weight: bold;
  color: #3d072d;
  text-align: right;
  margin-right: 2em;
}



p {
  margin-top: 1em;
  /*max-width: 45%;*/
}


.userVote {
  color: #3d072d;  
  font-weight: bold;
}

.unclickable{
  pointer-events: none;  
}

.clickable{
  pointer-events: auto;
}

.addOpt {  
  background-color: #7dcd85;
  display: inline-block;
  width: 80%;
  max-width: 500px;
  border-radius: 3px; 
  
}

.bar {   
  background-color: #222a68;  
  color: white;
  margin: 2px;
  padding: .2em .7em;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.hidden {
 display: none;  
}

.right {
  float: right;  
  /*width: 45%;*/
  margin-right: 50px; 
}

.center{
  margin-left: auto;
  margin-right: auto;
}

canvas {
  position: fixed;  
}

.barSub {
  background-color: ivory;
  color: #222a68;
  font: 1.5em;
  width: 90%;
  padding: 2px;
  margin: 2px 20px;
  cursor: pointer;
}

.barSub:hover{
  background-color: #f2e87b;
}

.selectedPoll {
  background-color: #7dcd85;
  color: #222a68;
  height:auto;
}

.selectedOption {
  background-color: #7dcd85;  
}

.loginlinks {
  padding: 1em;  
  background-color: #7dcd85;  
}

.paginate {
  color: #222a68; 
  text-align:center;
}
.paginate:hover {
  color: #7dcd85; 
}


form {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #222a68;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

label {
  color: white;
}
/*
button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px navy;
  cursor: pointer;
  margin:3px;
}
*/
button:hover {
  background-color: #f2e87b;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
  text-decoration: none;  
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;  
}


/*
.nicejob {
  text-decoration: line-through;
}
*/